@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {font-size: 16px; line-height: 1.5; font-family:'Roboto Condensed', Geneva, Tahoma, sans-serif;}

h1 {font-size: 3rem; margin: 0 0 0.5rem;}
h2 {font-size: 2rem; margin:2rem 0 0.5rem;}
h3 {font-size: 1.5rem; margin: 2rem 0 0.5rem;}
h4 {font-size: 1rem; margin:2rem 0 0.5rem;}
p {margin: 0.5rem 0;}