{% set attrTarget = null %}
{% if target != "_self" %}
    {% set attrTarget = "target='" ~ target ~ "'" %}
{% endif %}
<a {{bem("link", icon)}} href="{{href}}" {{attrTarget}}><span>{{text}}</span></a>