<p>Utilizing only the grid portion of bootstrap 4.1</p>
<div class="row">
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
    <div class="col-1">.col-1</div>
</div>
<div class="row">
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
</div>
<div class="row">
    <div class="col-3">.col-3</div>
    <div class="col-3">.col-3</div>
    <div class="col-3">.col-3</div>
    <div class="col-3">.col-3</div>
</div>
<div class="row">
    <div class="col-4">.col-4</div>
    <div class="col-4">.col-4</div>
    <div class="col-4">.col-4</div>
</div>